* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 140px ;
    width: 140px;
    position:fixed;
    top: 5px;
    left: 5px;
}
header h1 {
    padding: 20px;
    border: solid;
    border-color: #5cc4ac;
    border-radius: 15px;
    color: #5cc4ac;
}
header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul {
    border: solid;
    border-color: #5cc4ac;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    padding: 20px;
}

header ul li a {
   text-decoration: none;
   color: #5cc4ac;
    font-size:xx-large;
} 

main table{
    border-collapse: collapse;
    position: fixed;
    top: 40%;
    left: 18%;
    font-size: larger;
}

table, th, td {
    padding: 25px;
    border: 2px solid;
    border-color: #5cc4ac;
  }

footer{
    width: 100%;
    height: fit-content;
    display: flex;
    position: fixed;
    bottom: 5px;
    justify-content: space-around;
    
}

#me {
    margin: 20px;
    border: solid;
    border-color: #5cc4ac;
    height: 150px;
    width: 150px;
}

main div {
    padding: 25px;
    display: flex;
    justify-content: center;
} 

main div ul {
    padding: 25px;
    list-style: none;
    
}

#about-main{
    display: flex;
    justify-content: space-around;
    
}

main section {
    border: solid;
    border-color: #5cc4ac;
    border-radius: 15px;
} 
main section ul {
    
    margin: 20px;
    list-style: none;
} 
#user ul {
   
    list-style: none;
    
   
} 

#user ul li label,input {
    margin: 10px;
}


